.subscription {
  margin-top: 60px;
}

.subscription-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $light-text-color;
}

//.subscription-form {
//display: flex;
//margin-top: 20px;
//}

.subscription-form-input {
  height: 58px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
}

.subscription-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form-input:focus {
  outline: none;
}
.subscription-form-btn {
  display: flex;
  justify-content: center;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $direction-color;
  padding: 10px 29px;
  margin-top: 20px;
  //margin-left: 12px;
  //text-align: center;

  width: 200px;
  min-height: 50px;
  background: $accent-color;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-form-svg {
  width: 24px;
  height: 24px;
  fill: $direction-color;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .subscription-form-input {
    width: 100%;
  }

  .subscription-form-btn {
    margin-left: 125px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .subscription-form-input {
    width: 450px;
    margin-left: 151px;
  }

  .subscription-form-btn {
    margin-left: 276px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: block;
    margin-top: 0;
    align-content: flex-start;
  }

  .subscription-title {
    display: flex;
    justify-content: flex-start;
  }

  .subscription-form {
    display: flex;
    align-items: baseline;
  }

  .subscription-form-input {
    width: 358px;
    height: 50px;
    margin-left: 0;
  }

  .subscription-form-btn {
    margin-left: 12px;
    margin-top: 0;
  }
}
