.container {
  outline: 1px solid black;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;

    .features & {
      padding: 60px 15px;
    }

    .team & {
      padding: 60px 15px;
    }

    .clients & {
      padding: 60px 15px;
    }

    .portfolio & {
      padding: 60px 15px;
      border-top: 1px solid #ececec;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .portfolio & {
    padding: 60px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;

    .hero & {
      padding: 200px 0;
    }

    .features & {
      padding: 94px 15px;
    }

    .header & {
      display: flex;
      align-items: center;
    }

    .field & {
      padding: 94px 15px;
    }

    .team & {
      padding: 94px 15px;
    }

    .clients & {
      padding: 94px 15px;
    }

    .portfolio & {
      padding: 94px 15px;
      border-top: 1px solid #ececec;
    }
  }
}

//.container {
//  width: 1200px;
//  margin: 0 auto;
//
//  .hero & {
//    padding: 200px 0;
//  }
//
//  .features & {
//    padding: 94px 15px;
//  }
//
//  .field & {
//    padding: 94px 15px;
//  }
//
//  .team & {
//    padding: 94px 15px;
//  }
//
//  .clients & {
//    padding: 94px 0;
//  }
//
//  .portfolio & {
//    padding: 94px 15px;
//    border-top: 1px solid #ececec;
//  }
//}
//
